*{
    font-family: 'Work Sans', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* common styles */
.btn-org{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    border-radius: 5px;
    background: #F15B22;
    border: none;
    padding: 20px 25px;
    float: right;
}




/* header */
header{
    background: url(../images/banner/banner2.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-text{
    width: 525px;
    float: right;
    margin: 300px 300px 0 0;
}
.header-text>h1{
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
}
.header-text>p{
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
}